@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #d54400;
  --light-gray: #2f4858;
  --dark-gray: #111827;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

button,
a {
  user-select: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.heading-1 {
  @apply text-white font-bold text-4xl md:text-5xl xl:text-6xl;
}

p {
  line-height: 1.8;
}

.max-width {
  @apply px-5 xl:max-w-7xl xl:mx-auto 2xl:px-0;
}

.btn-primary {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  @apply text-white tracking-wide hover:bg-transparent transition-all duration-150 cursor-pointer py-2 px-6 hover:text-orange-500;
}

.btn-secondary {
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  @apply text-white tracking-wide hover:bg-transparent transition-all duration-150 cursor-pointer py-2 px-6 hover:text-slate-900;
}

.header {
  position: absolute;
}

.showcase {
  background: url("./images/showcase.jpg") no-repeat center/cover;
  height: calc(100vh - 0.1px);
}

.showcase .overlay {
  background: linear-gradient(
    120deg,
    rgba(17, 24, 39, 0.94) 50.1%,
    rgba(196, 196, 196, 0) 100%
  );
  height: calc(100vh - 0.1px);
}

@media (min-width: 768px) {
  .showcase .overlay {
    background: linear-gradient(
      90deg,
      rgba(17, 24, 39, 0.94) 50.1%,
      rgba(196, 196, 196, 0) 100%
    );
  }
}
